<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  
<div class="container">
    <div class="card" >
        
                <h5 class="card-title mr-auto p-2">Card title</h5>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                
                
                <img class="card-img-top" src="..." alt="Card image cap">
                <a href="#" class="card-link float-right">View</a>
                <a href="#" class="card-link float-right">Save</a>
            
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            
            

        </div>
</div>

</body>
</html>